@font-face {
  font-family: caveatFont;
  src: url("/assets/fonts/caveat.ttf") format("truetype");
}
#journeySoFar {
  position: relative;
  width: 100%;
  height: 500px;
  top: 320px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
  background-color: #d8f1ff;
  padding: 20px;
}
#journeySoFar > h5 {
  color: #3a4772;
  font-size: 3rem;
  letter-spacing: 2px;
  font-family: caveatFont, sans-serif;
  font-weight: bold;
  user-select: none;
}
.wave-bottom {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  height: 120px;
  overflow: visible;
}

.wave-bottom svg {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}
.wave-bottom svg path {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15))
    drop-shadow(0 8px 10px rgba(0, 0, 0, 0.2));
}
